body {
  font-family: sans-serif;
  font-size: 16px;
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: #8B008B;
  text-align: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.versus {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.select-message {
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 150px;
}

p {
  font-family: 'VT323', monospace;
  font-size: 20px;
  color: 	#000000;
  text-shadow: 1px 1px 4px #808080;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center
}

#button {
  font-family: 'Press Start 2p';
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 40px;
	margin: 50px 5px 10px 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
	border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
  width: auto;
  transition-duration: 0.4s;
}

#button:hover {
  background-color: #A9A9A9;
  color: white;
}

.select-button {
  text-align: center;
  display: inline-block;
  text-decoration: none;
	margin: 5px;
  font-weight: bold;
  font-size: 40px;
  padding: 10px 0 10px 10px ;
  width: 100px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
	border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 50px;
}

.pokemon-selector-grid {
  width: 950px;
}

.grid-pokemon-display {
  text-align: center;
  width: 85px;
  border: 1px solid black;
  display: inline-block;
  padding: 3px;
}

.grid-pokemon-display:hover {
  background-color: #D3D3D3;
}

.grid-pokemon-display img {
  max-width: 85px;
  max-height: 85px;
}

.your-pokemon-display {
  width: 950px;
}

#your-pokemon {
  width: 950px;
}

.pokemon-battle-screen {
  width: 950px;
}

.pokemon-moves-selector-grid {
  width: 950px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
}

.grid-your-pokemon-moves {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 175px;
   border: 1px solid black;
   display: grid;
  }

.selected-move {
   background-color: #718096;;
   color: #ffffff;
   opacity: .5;
}

.grayout-move {
  background-color: #DCDCDC;
  color: #A9A9A9;
}

#move-button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px auto;
  transition-duration: 0.4s;
  cursor: pointer;
  width: auto;
}

#move-button:hover {
  background-color: #FF0000;
  color: white;
}

.move-button:hover {
  background-color: #666666;
  color: #ffffff;
}
.move-button:disabled {
  background-color: #718096;;
  color: #ffffff;
  opacity: .25;
} 

center img {
   width: 200px;
}

.shake {
  animation: shake 0.7s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.disabled {
   display: none !important
}

.move-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 100%;
  font-size: 16px;
}

.next-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 100%;
  font-size: 16px;
}
 
.pokemon-order {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
}

.your-pokemon-hp-display {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
}

.random-pokemon-hp-display {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
}

.move-message {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
}

.win-message {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.8;
}