body {
  font-family: sans-serif;
  font-size: 16px;
}

.message {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  text-align: center;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center
}

#button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  transition-duration: 0.4s;
  cursor: pointer;
  width: auto;

}

#button:hover {
  background-color: #FF0000;
  color: white;
}

#move-button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px auto;
  transition-duration: 0.4s;
  cursor: pointer;
  width: auto;

}

#move-button:hover {
  background-color: #FF0000;
  color: white;
}
.pokemon-selector-grid {
  width: 950px;
}

.grid-pokemon-display {
  text-align: center;
  width: 85px;
  border: 1px solid black;
  display: inline-block;
  padding: 3px;
}

.grid-pokemon-display:hover {
  background-color: #D3D3D3;

}

.grid-pokemon-display img {
  max-width: 85px;
  max-height: 85px;
}

.your-pokemon-display {
  width: 950px;
}

#your-pokemon {
  width: 950px;
}

.pokemon-moves-selector-grid {
  width: 950px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
}
.grid-your-pokemon-moves {
  text-align: center;
   width: 85px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 175px;
   border: 1px solid black;
   display: grid;
   padding: 3px;
  }

 .grid-your-pokemon-moves:hover {
   background-color: #D3D3D3;
   color: white;
 }

 .selected-move {
   background-color: #718096;;
   color: #ffffff;
   opacity: .5;
 }

 .grayout-move {
  background-color: #DCDCDC;
  color: #A9A9A9;
}

 center img {
   width: 200px;
 }

 .disabled {
   display: none !important
 }